/* Variables */
:root {
    --color-text: #e53170;
    --color-link: #399ada;
}


/* Resets */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
}


/* Utils */
.container {
    max-width: 990px;
    margin: 0 auto;
}

/* Layout */


/*  */
