/* Variables */
:root {
    --color-text: #e53170;
    --color-link: #399ada;
    --header-height: 100px;
}


/* Resets */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: var(--color-text);
}


/* Utils */
.container {
    max-width: 990px;
    margin: 0 auto;
}

/* Layout */


/*==================================*/

/* Header */
#main-header {
    height: var(--header-height);
    background-color: aqua;
    text-align: center;
    line-height: var(--header-height);
}