/* Variables */
:root {
    --color-text: #e53170;
    --color-link: #399ada;
    --header-height: 100px;
}


/* Resets */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: var(--color-text);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

address {
    font-style: normal;
}


/* Utils */
.container {
    max-width: 990px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}

/* Layout */
.row::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;;
    width: calc(100%/3);
    padding: 0.5rem;


    background-color: aqua;
    border: 1px dashed red;
}


/*==================================*/

/* Header */
#main-header {
    text-align: center;
    line-height: var(--header-height);
    height: var(--header-height);
    margin-bottom: 1.5rem;
    
    background-color: aqua;
}


/* Team grid */
.team-grid {
    margin-top: 2.5rem;
}


/* Card */
.card {
    color: #fff;
    background-color: #000;
}

.card img {
    height: 80px;
    float: left;
    margin-right: 0.5rem;
}

.card-body {
    padding: 0.5rem 0.8rem;
}